<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ChatLibs is an app inspired by Mad Libs and templates are generated with ChatGPT.">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ChatLibs</title>
</head>
<body>
    <div class="container">
        <h1>ChatLibs</h1>
        <label for="category">Select a Category:</label>
        <select id="category">
            <option value="humor">Humor / Comedy</option>
            <option value="action">Action / Adventure</option>
            <option value="mystery">Mystery / Thriller</option>
            <option value="tech">Technology / Sci-Fi</option>
        </select>
        <div>
            <label for="voiceSelect">Select a Voice:</label>
            <select id="voiceSelect"></select>
        </div>
        <button id="generateBtn">Generate ChatLib</button>
        <div id="chatlibContainer"></div>
        <button id="submitBtn">Submit</button>
        <div id="outputContainer"></div>
    </div>
    <footer>
        <p>&copy ChatLibs</p>
        <a href="https://github.com/a-rud017/chat-libs" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
    </footer>
    <script src="main.js"></script>
</body>
</html>